<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="NewsConnectionString" connectionString="Data Source=.;Initial Catalog=mtasdigh_News;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewsConnectionString2" connectionString="Data Source=.;Initial Catalog=mtasdigh_News;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewsConnectionString3" connectionString="Data Source=.;Initial Catalog=mtasdigh_News;Persist Security Info=True;User ID=mtasdigh_admin;Password=admin@123"
            providerName="System.Data.SqlClient" />
        <add name="NewsConnectionString4" connectionString="Data Source=.;Initial Catalog=mtasdigh_News;Persist Security Info=True;User ID=mtasdigh_admin;Password=admin@123"
            providerName="System.Data.SqlClient" />
        <add name="NewsConnectionString6" connectionString="Data Source=.;Initial Catalog=mtasdigh_News;Persist Security Info=True;User ID=mtasdigh_admin;Password=admin@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>

</configuration>
